<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthpet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HealthPet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthPet">
        <activity
            android:name=".LogbookActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionnaireActivity"
            android:exported="false" />
        <activity
            android:name=".BreathingTaskActivity"
            android:exported="false" />
        <activity
            android:name=".MemoryTaskActivity"
            android:exported="false" />
        <activity
            android:name=".BalanceTaskActivity"
            android:exported="false" />
        <activity android:name=".StepGoalActivity"
            android:exported ="false"/>
    </application>

</manifest>